@use "../../theme/theme" as *;

.pageControls {
  margin-top: 40px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  button {
    border: none;
    background: none;
    height: 40px;
    margin-left: 20px;
    font-size: 14px;
    border-radius: 5px;
    padding: 0 10px;

    &.pageLink {
      width: 40px;
      border-radius: 50%;

      &.current {
        background-color: $forest-green;
        color: white;
      }
    }

    &:not(:disabled) {
      cursor: pointer;

      &:hover {
        background-color: $mint-green-main;
      }

      &:active {
        color: $white;
        background-color: $mint-green-pressed;
      }
    }
  }
}
