@use "../../theme/theme" as *;

.ordersSection {
  position: relative;

  & .sectionHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.helpLink {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;

  .helpIcon {
    margin-right: 5px;

    display: inline-block;
    border-radius: 50%;
    width: 16px;
    height: 16px;

    color: $almost-back;
    background-color: $light-grey;
    text-align: center;
    font-size: 12px;
  }
}

.orderListHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  color: $medium-grey;
}

.orderLine {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 80px;
  border: 1px solid $light-grey;
  box-sizing: border-box;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  margin-bottom: 8px;
  min-width: 600px;

  & a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.orderItem {
  flex-basis: calc((100% / 6) - 120px);
  flex-grow: 1;
  flex-shrink: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: auto 8px;

  &:first-child {
    margin-left: 50px;
  }
}

.orderType {
  position: absolute;
  background-color: #ccc;
  border-radius: 5px;
  transform: rotate(-90deg);
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;

  // positioning magic for rotated element
  left: -18px;
  top: 25px;
  bottom: -36px;
  width: 72px;
  height: 28px;

  font-size: 10px;
  line-height: 28px;

  &.online {
    background-color: $light-grey;
  }

  &.instore {
    background-color: black;
    color: $white;
  }

  &.manual {
    background-color: $status-progress;
    color: $white;
  }
}

.listStatus {
  text-align: center;
  min-height: 80px;
  line-height: 80px;
}

.paymentStatus {
  padding-left: 16px;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    top: 4px;
  }

  &.paid:before {
    background-color: $status-paid;
  }

  &.inprogress:before {
    background-color: $status-progress;
  }

  &.failed:before {
    background-color: $status-fail;
  }
}
.orderFlag {
  position: absolute;
  left: 25px;
  height: 24px;
  width: 24px;
  top: calc(50% - 10px);
  border-radius: 50%;

  background-image: url("../../assets/flag.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: white;
}

.orderNum {
  background-image: url("../../assets/corner-down-right.svg");
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 20px;
  font-weight: 600;
}

.orderStore {
  padding-left: 25px;
  background-position: left center;
  background-repeat: no-repeat;

  &.se {
    background-image: url("../../assets/se.svg");
  }

  &.uk {
    background-image: url("../../assets/uk.svg");
  }

  &.no {
    background-image: url("../../assets/no.svg");
  }
}

.paymentMethod {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  & img {
    height: 14px;
    margin-right: 5px;
    padding: 4px;
    border-radius: 4px;
    border: solid 1px $light-grey;
  }
}
