@use "../../theme/theme.scss" as *;

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contactSection {
  & h3 {
    font-size: 14px;
    line-height: 22px;
  }
}

.contactLink {
  text-decoration: none;
  display: block;
  color: inherit;

  &:hover,
  &:active {
    color: $forest-green;
    text-decoration: underline;
  }
}

.contactDetails {
  color: $dark-grey;
}
