@use "../../theme/theme.scss" as *;

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contactSection {
  & h3 {
    font-size: 14px;
    line-height: 22px;
    padding-left: 25px;
    font-weight: 600;
  }

  &.contactsHeader h3 {
    background: url("../../assets/contacts.svg") center left no-repeat;
  }

  &.shippingHeader h3 {
    background: url("../../assets/shipping.svg") center left no-repeat;
  }

  &.invoiceHeader h3 {
    background: url("../../assets/invoice.svg") center left no-repeat;
  }
}

.contactLink {
  text-decoration: none;
  display: block;
  color: inherit;

  &:hover,
  &:active {
    color: $forest-green;
    text-decoration: underline;
  }
}

.contactDetails {
  color: $dark-grey;
}
