$mint-green-logo: #64e1c3;
$mint-green-main: #94efd2;
$mint-green-disabled: #c3f6e6;
$mint-green-pressed: #7bd6b9;
$forest-green: #439b83;
$green-link: #0a8f73;

$almost-back: #222;
$shaft-black: #2d2d2d;
$matte-black: #393939;

$dark-grey: #5f5f5f;
$medium-grey: #999999;
$grey: #d1d1d1;
$light-grey: #ececec;
$white-smoke: #f9f9f9;
$white: #fff;

$poppy-red: #fe1b1b;

$status-flag: #7b31d9;
$status-progress: #f16500;
$status-fail: $poppy-red;
$status-paid: #64e1c3;
