@use "theme/theme.scss" as *;

.demo {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  color: $almost-back;
  font-size: 14px;
  line-height: 22px;
}

.sectionHeader h2 {
  font-size: 20px;
  line-height: 33px;
  color: $almost-back;
}

.greenLink {
  color: $green-link;
}
