@font-face {
  font-family: Metropolis;
  src: url("assets/fonts/Metropolis-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Metropolis;
  font-weight: 600;
  src: url("assets/fonts/Metropolis-SemiBold.woff2") format("woff2");
}
